body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    position: relative;
    margin: auto;
    width: fit-content;
}

.holes {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15rem 5rem;
    row-gap: 0rem;
    column-gap: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hole {
    width: 240px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/toupeira6.svg);
    background-repeat: no-repeat;
}

.mole:hover {
    animation: showMole 700ms;
}

@keyframes showMole {
    0% {
        background-image: url(assets/toupeira1.svg);
    }
    20% {
        background-image: url(assets/toupeira2.svg);
    }
    40% {
        background-image: url(assets/toupeira3.svg);
    }
    60% {
        background-image: url(assets/toupeira4.svg);
    }
    80% {
        background-image: url(assets/toupeira5.svg);
    }
    100% {
        background-image: url(assets/toupeira6.svg);
    }
}